@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-arctic-white: #ffffff;
  --color-soft-slate: #f8fafc;
  --color-apollo-blue: #2883A3;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-ambient-float: ambient-float 8s ease-in-out infinite;
  --animate-scan: scan 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;

  @keyframes ambient-float {

    0%,
    100% {
      transform: translateY(0px) rotate(0deg);
    }

    50% {
      transform: translateY(-20px) rotate(2deg);
    }
  }

  @keyframes scan {
    0% {
      transform: translateX(-100%) skewX(-20deg);
    }

    100% {
      transform: translateX(200%) skewX(-10deg);
    }
  }
}

:root {
  --background: #f8fafc;
  --foreground: #334155;
  /* Slate 700 - Softer than black */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}